# ===================================================================
# Spring Boot configuration for the "prod" profile.
# ===================================================================

logging:
  level:
    ROOT: INFO
    tech.jhipster: INFO
    com.localuz: INFO

management:
  metrics:
    export:
      prometheus:
        enabled: false

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
      max-lifetime: 30000

  liquibase:
    contexts: prod
    enabled: true

  jpa:
    hibernate:
      ddl-auto: none

  mail:
    host: localhost
    port: 25
    username:
    password:

  thymeleaf:
    cache: true

# ===================================================================
# Server
# ===================================================================
server:
  port: 5000
  shutdown: graceful
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,application/javascript,application/json,image/svg+xml
    min-response-size: 1024

# ===================================================================
# JHipster specific properties
# ===================================================================
jhipster:
  cors:
    allowed-origins: "http://localhost,https://frotto.com.br,https://www.frotto.com.br"
    allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
    allowed-headers: "*"
    exposed-headers: "Authorization,Link,X-Total-Count"
    allow-credentials: false
    max-age: 1800

  http:
    cache:
      timeToLiveInDays: 1461

  cache:
    ehcache:
      time-to-live-seconds: 3600
      max-entries: 1000

  security:
    authentication:
      jwt:
        base64-secret: NjZkOGYwN2Q3MDA3MTM1YTRlNGJmMjZlZTQ3MGM3MGIyMjNhMTA5MTc3MTY0MjMyZjhjYzBhZDgzZmQ0M2U5YzVhNzJlMDdjZDMyOGZjMDcyZDgzZTM4ODUxMzJjOWJiMGNmMzFhNzU2YjVhNDFmMTNhNmExMWY0MjY2NDczMTY=
        token-validity-in-seconds: 86400000
        token-validity-in-seconds-for-remember-me: 2592000000

  mail:
    base-url: https://api.frotto.com.br

  logging:
    use-json-format: false
    logstash:
      enabled: false
      host: localhost
      port: 5000
      queue-size: 512

# ===================================================================
# Application specific properties
# ===================================================================
aws:
  bucketName: localuz-locamais
